.react-resizable-handle {
    z-index: 1000;
}

.react-grid-draggable {
    border-radius: 0;
}

.leaflet-tooltip-bottom::before {
    border-bottom-color: #121212 !important;
}

.leaflet-tooltip {
    opacity: 0.6 !important;
}

.leaflet-control-attribution {
    display: none;
    background-color: #1e1e1e;
    color: #ccc;
    z-index: 3001;
}

.leaflet-container {
    background-color: #121212 !important;
}

.leaflet-left{
    top: 32px !important;
}
.leaflet-control-fullscreen {
    display: none;
}