.react-resizable-handle {
    z-index: 1000;
}

.react-grid-draggable {
    border-radius: 0;
    cursor: move;
}

.leaflet-tooltip-bottom::before {
    border-bottom-color: #121212 !important;
}

.leaflet-tooltip {
    opacity: 0.8 !important;
}

.leaflet-control-attribution {
    display: none;
    background-color: #1e1e1e;
    color: #ccc;
    z-index: 3001;
}

.leaflet-container {
    background-color: #121212 !important;
}

.leaflet-left{
    top: 32px !important;
}
.leaflet-control-fullscreen {
    display: none;
}

.window-title-bar {
    background-color: #1e1e1e;
}

.attribution {
    color: #959595;
    font-size: 12px;
    line-height: 20px;

}

.leaflet-link {
    right: 8px;
    position: absolute;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 1000px;
    display: block;
}

.vsc-controller {
    display: none !important;
}