.react-resizable-handle {
    z-index: 1000;
}

.react-grid-draggable {
    border-radius: 0;
}

.leaflet-tooltip-bottom::before {
    border-bottom-color: #121212 !important;
}

.leaflet-tooltip {
    opacity: 0.6 !important;
}